table {
  border: none;
  border-collapse: collapse;
  padding: 0px;
  margin: 0px;
}

tr {
  border: none;
  border-collapse: collapse;
  padding: 0px;
  margin: 0px;
}


td {
  border: none;
  border-collapse: collapse;
  padding: 0px;
  margin: 0px;
}